<!DOCTYPE html>
<html>
    <head>
        <title>shadrack's blog</title>
    </head>
<body>
    <!-- <p>Hi there!</p>
    <p>It works!</p> -->
    <header>
        <h1><a href="/">shadrack's blog</a></h1>
    </header>

    {% for post in posts %}
    <article>
        <time>published: {{ post.published_date }}</time>
        <h2><a href="">{{ post.title }}</a></h2>
        <p>{{ post.text|linebreaksbr }}</p>
    </article>
{% endfor %}
    <br>
    <!-- <ul>
        <li>first item</li>
        <li>second item</li>
    </ul> -->
    <br>
    <!-- <div>defines a section of the page</div> 
<nav>navigation</nav>
<br>
<section>defines a section in a document</section> 
<header>specifies a header for a document or section</header> 
<main>specifies the main content of a document</main> 
<aside>defines some content aside from the content it is placed in (like a sidebar)</aside> 
<footer>defines a footer for a document or section</footer>  -->

</body>
</html>